<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/123/IdeaProjects/main">
        <classes>
            <class name="Test_2"></class>
            
        </classes>

    </test>
    <parameter name="browser" value="true">

    </parameter>
</suite>